apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: minio-operator-console
  namespace: ${namespace}
spec:
  host: minio-operator-console.${base_domain}
  port:
    targetPort: 9443
  to:
    kind: Service
    name: console
  tls:
    termination: passthrough
    insecureEdgeTerminationPolicy: None
