apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: minio-console
  namespace: ${namespace}
spec:
  host: ${tenant}.apps.${base_domain}
  port:
    targetPort: 9090
  to:
    kind: Service
    name: minio-console
